In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

1.4.4

In [3]:
print(np.__version__)

1.21.5

In [8]:
#Define a data set
data_set = {"Pastry": ["croissant", "muffin", "scone"], "Number of Sales": [15, 5, 2]}

In [9]:
#Create a data frame. A data frame is a 2d data structure, similar to a table with columns. 
df = pd.DataFrame(data_set)

In [10]:
#Look at the data frame by printing it
print(df)

      Pastry  Number of Sales
0  croissant               15
1     muffin                5
2      scone                2

In [11]:
#Print the first row of information by indexing into the data frame
print(df.loc[0])

Pastry             croissant
Number of Sales           15
Name: 0, dtype: object

In [13]:
#Print the first two rows of information by using a list of indexes 
print(df.loc[[0, 1]])

      Pastry  Number of Sales
0  croissant               15
1     muffin                5

In [14]:
#More practice using a list of indexes to access information in data frame
print(df.loc[[0, 1, 2]])

      Pastry  Number of Sales
0  croissant               15
1     muffin                5
2      scone                2

In [15]:
print(df.loc[[0, 2]])

      Pastry  Number of Sales
0  croissant               15
2      scone                2

In [16]:
print(df.loc[[2, 1]])

   Pastry  Number of Sales
2   scone                2
1  muffin                5

In [23]:
#Create a new data frame describing some sales data over the weekend. Let the weekday be the index. 
data_set_2 = {"Pastry Sales": ["53", "62", "47"], "Drink Sales": ["72", "85", "69"], "Unique Transactions": ["27", "39", "30"]}
df_2 = pd.DataFrame(data_set_2, index = ["Friday", "Saturday", "Sunday"])
print(df_2)

         Pastry Sales Drink Sales Unique Transactions
Friday             53          72                  27
Saturday           62          85                  39
Sunday             47          69                  30

In [25]:
#Look at Saturday's data by indexing into the data frame 
print(df_2.loc["Saturday"])

Pastry Sales           62
Drink Sales            85
Unique Transactions    39
Name: Saturday, dtype: object

In [27]:
#Now practice loading in a data frame, since you will often be using a pre-existing data set 
#The data set comes from Kaggle 
#https://www.kaggle.com/datasets/themrityunjaypathak/pandas-practice-dataset?resource=download 

loaded_df = pd.read_csv('data.csv')

In [28]:
print(loaded_df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [ ]:
#Now focus on cleaning the data set 

#Some things that need to be cleaned, on first glance: 
#Row 7's Duration seems inaccurate based on surrounding context  
#NaN values are present in the data set 
#Row 11 and 12 are duplicates 
#Row 26 has an improperly formatted date

In [34]:
#Correct the Duration value in row 7 by replacing it 
#If the data set was larger, instead of replacing individual values, we could delete rows containing what we decide are invalid values or change the values
#Because all other Duration values are between 30 and 60, 450 is an outlier. 
#Knowing these values are the durations of someone's daily workout, we can reasonably assume they did not work out for 450 minutes
loaded_df.loc[7, 'Duration'] = 45

In [36]:
#Verify that the row updated 
print(loaded_df.loc[7])

Duration              45
Date        '2020/12/08'
Pulse                104
Maxpulse             134
Calories           253.3
Name: 7, dtype: object

In [38]:
#Now practice removing duplicates. The following functions will come in handy for larger datasets.
print(loaded_df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [39]:
loaded_df.drop_duplicates(inplace = True)

In [40]:
#Verify that the duplicates were dropped
#We can do this by simply viewing the data frame since we knew row 11 and 12 were duplicates
print(loaded_df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         45  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [41]:
#We can also verify by checking for duplicates again using the duplicated() method 
print(loaded_df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [43]:
#Now we should update the rows that have invalid date values. These are rows 22 and 26. 
loaded_df['Date'] = pd.to_datetime(loaded_df['Date'])

In [44]:
#Verify that those row values were updated 
print(loaded_df.loc[[22, 26]])

    Duration       Date  Pulse  Maxpulse  Calories
22        45        NaT    100       119     282.0
26        60 2020-12-26    100       120     250.0

In [46]:
#Row 22 was not updated. NaT means Not A Time. We can simply remove this row. We can treat the NaT value as a NULL value.
#dropna() removes rows with NULL values
loaded_df.dropna(subset=['Date'], inplace = True)

In [47]:
#Verify that the row was removed
print(loaded_df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [51]:
#Let's remove the rows with NaN values in the Calories column 
loaded_df.dropna(subset=['Calories'], inplace = True)

In [52]:
#Verify
print(loaded_df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [53]:
#Everything looks properly formatted. Now we can get some basic statistics from the data frame